.star {
    cursor:pointer;
    width:25px;
    height:25px;
    margin:2px;
    display:inline-block;
    background-color:grey;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}

.star.selected{
    background : yellow;
}